{
  "presets": ["@babel/preset-react", ["@babel/preset-env", {
    "targets": "> 5%, not dead",
    "useBuiltIns": "usage",
    "corejs": 3,
    "modules": false
  }]],
  "env": {
    "start": {
      "plugins": ["react-hot-loader/babel", "@babel/plugin-proposal-optional-chaining"]
    }
  }
}
