:global(body) {
  position: relative;

  .closeButton { 
    font-size:2em;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
    padding:20px 10px 10px 20px;
  }
  .menu-icon { 
    margin-right:1em;
  }

  .with-padding { 
    padding:1em;
  }

  .collage {
    width: 50%;
  }
  .figureCaption {
    color: #777;
  }

  .built-with button { 
    border:1px solid black;
  }
}
